<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>

      <mat-panel-title *ngIf="isHandset$ | async; else desktop">
        <mat-icon>settings</mat-icon>
      </mat-panel-title>
      <ng-template #desktop>
        <mat-panel-title class="right">
          Settings
        </mat-panel-title>
      </ng-template>


    </mat-expansion-panel-header>

    <a class="mat-stroked-button" routerLink="/login" (click)="auth.logout()">Logout</a>
  </mat-expansion-panel>

</mat-accordion>
<div class="grid-container">

  <div class="row" *ngIf="auth.userProfile$ | async as profile">
    <div class="col-sm-s12">
      <img src="{{ profile.picture }}" class="rounded float-left ml-3 mr-3 mb-3" style="height: 200px; width: 200px;">
      <h1 class="float-left mt-4"> Hey, {{ profile.nickname }}! </h1>
      <br>
      <button mat-stroked-button class="float-left mt-5">Edit Profile</button>

    </div>
    <br>
    <!-- <code>{{ profile | json }}</code>
    <p> {{ profile.nickname | json }} </p> -->
  </div>
  <div class="row">

    <input style="display: none" (change)="onImagePicked($event)" #fileInput type="file" accept='image/*' />

    <button *ngIf="!imageObj; else imagePicked" mat-button (click)="fileInput.click()">Choose Picture</button>
    <ng-template #imagePicked><button mat-button (click)="fileInput.click()">Change Picture</button></ng-template>

    <br/>

    <mat-form-field class="col col-sm-12 col-md-6 offset-md-3 mr-5 mb-3">
      <input matInput [(ngModel)]="user_data.nickname" required placeholder="Enter your nickname">
    </mat-form-field>

    <mat-form-field class="col col-sm-12 col-md-6 offset-md-3 mr-5 mb-3">
      <input matInput [(ngModel)]="user_data.user_metadata.firstName" required placeholder="Enter your first name">
    </mat-form-field>

    <mat-form-field class="col col-sm-12 col-md-6 offset-md-3 mr-5 mb-3">
      <input matInput [(ngModel)]="user_data.user_metadata.lastName" required placeholder="Enter your last name">
    </mat-form-field>

    <mat-form-field class="col col-sm-12 col-md-6 offset-md-3 mr-5 mb-3">
      <input matInput [(ngModel)]="user_data.user_metadata.age" required placeholder="Enter your age">
    </mat-form-field>

    <mat-form-field class="col col-sm-12 col-md-6 offset-md-3 mr-5 mb-3">
      <input matInput [(ngModel)]="user_data.user_metadata.phone" required placeholder="Enter your phone number">
    </mat-form-field>
    
  </div>
  <button mat-button type="button" (click)="updateAuthData()">Update</button>
  <hr />

  <mat-divider></mat-divider>
  <app-photo-container *ngIf="posts.length; else noPosts" [posts]="posts"></app-photo-container>

  <ng-template #noPosts>
    <div>
      <h4 class="noPosts">No Posts Yet</h4>
    </div>
  </ng-template>

</div>