<div class="grid-container">

  <div class="row" *ngIf="auth.userProfile$ | async">
    <div class="col-sm-s12">
      <div id="editProfilePic" *ngIf="this.profileService.profilePicSource | async">

        <div class="imgWrapper" *ngIf="imageObj; else mainImg">

          <img src="{{imgURL}}" class="rounded float-left ml-3 mr-3 mb-3" style="height: 200px; width: 200px;">
          <input style="display: none" (change)="onImagePicked($event)" #fileInput type="file" accept='image/*' />

          <!-- <a class="editBtn hideIcon" *ngIf="!imageObj; else imagePicked" (click)="fileInput.click()"><i class="material-icons">edit</i></a>
          <ng-template #imagePicked style="display: none"><i class="material-icons" (click)="fileInput.click()">edit</i></ng-template> -->
          <h1 id="displayName" class="float-left mt-4"> Hey, {{ this.currentUserName }}! </h1>

          <div class="picIcons">
            <mat-icon class="doneBtn picIcon" (click)="onImageUpload()">done</mat-icon>
            <mat-icon class="closeBtn picIcon" (click)="emptyImage()">close</mat-icon>
          </div>

        </div>

        <ng-template class="imgWrapper" #mainImg>

          <img src="{{this.profileService.profilePicSource.value}}" class="rounded float-left ml-3 mr-3 mb-3"
            style="height: 200px; width: 200px;">

          <input style="display: none" (change)="onImagePicked($event)" #fileInput type="file" accept='image/*' />

          <mat-icon class="editBtn hideIcon" *ngIf="!imageObj; else imagePicked" (click)="fileInput.click()">edit
          </mat-icon>
          <ng-template #imagePicked>
            <mat-icon (click)="fileInput.click()">edit</mat-icon>
          </ng-template>

          <h1 id="displayName" class="float-left mt-4"> Hey, {{ this.currentUserName }}! </h1>

        </ng-template>

      </div>
    </div>
  </div>

  <hr />

  <mat-divider></mat-divider>
  <app-photo-container *ngIf="posts.length; else noPosts" [posts]="posts"></app-photo-container>

  <ng-template #noPosts>
    <div>
      <h4 class="noPosts">No Posts Yet</h4>
    </div>
  </ng-template>

</div>