<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>

      <mat-panel-title *ngIf="isHandset$ | async; else desktop">
        <mat-icon>settings</mat-icon>
      </mat-panel-title>
      <ng-template #desktop>
        <mat-panel-title class="right">
          Settings
        </mat-panel-title>
      </ng-template>


    </mat-expansion-panel-header>

    <div class="row">

      <div class="col col-sm-12 col-md-6 offset-md-3 mr-5 mb-3">

        <input style="display: none" (change)="onImagePicked($event)" #fileInput type="file" accept='image/*' />

        <button *ngIf="!imageObj; else imagePicked" mat-button (click)="fileInput.click()">Update Picture</button>
        <ng-template #imagePicked><button mat-button (click)="fileInput.click()">Change Picture</button></ng-template>

        <div *ngIf="imageObj">
          <br />
          <img class="imagePreview" width="200px" src="{{imgURL}}" />
        </div>

      </div>

    </div>

    <div class="row">

      <!-- <mat-form-field class="col col-sm-12 col-md-6 offset-md-3 mr-5 mb-3">
        <input matInput [(ngModel)]="this.currentUserName" required placeholder="Update your nickname">
      </mat-form-field> -->

    </div>

    <button mat-button type="button" (click)="onImageUpload()">Update</button>

    <a class="mat-stroked-button" routerLink="/login" (click)="auth.logout()">Logout</a>

  </mat-expansion-panel>

</mat-accordion>
<div class="grid-container">

  <div class="row" *ngIf="auth.userProfile$ | async">
    <div class="col-sm-s12">
      <div *ngIf="this.profileService.profilePicSource | async">
        <img src="{{this.profileService.profilePicSource.value}}" class="rounded float-left ml-3 mr-3 mb-3"
          style="height: 200px; width: 200px;">
        <h1 class="float-left mt-4"> Hey, {{ this.currentUserName }}! </h1>
      </div>
    </div>
  </div>

  <!-- <div class="row">

    <div class="col col-sm-12 col-md-6 offset-md-3 mr-5 mb-3">

      <input style="display: none" (change)="onImagePicked($event)" #fileInput type="file" accept='image/*' />
    
      <button *ngIf="!imageObj; else imagePicked" mat-button (click)="fileInput.click()">Choose Picture</button>
      <ng-template #imagePicked><button mat-button (click)="fileInput.click()">Change Picture</button></ng-template>

      <div *ngIf="imageObj">
        <br />
        <img [ngClass]="{'dark': isDarkTheme | async}" class="imagePreview" width="200px" src="{{imgURL}}" />
      </div>

    </div>

  </div> -->

  <!-- <div class="row">
    
    <mat-form-field class="col col-sm-12 col-md-6 offset-md-3 mr-5 mb-3">
      <input matInput [(ngModel)]="this.currentUserName" required placeholder="Enter your nickname">
    </mat-form-field>
  
  </div>
<button mat-button type="button" (click)="onImageUpload()">Update</button> -->

  <hr />

  <mat-divider></mat-divider>
  <app-photo-container *ngIf="posts.length; else noPosts" [posts]="posts"></app-photo-container>

  <ng-template #noPosts>
    <div>
      <h4 class="noPosts">No Posts Yet</h4>
    </div>
  </ng-template>

</div>