@import "@material/image-list/mdc-image-list";

.grid-container {
  margin: 20px;
  height: 100vh;

  img.postImage {
    cursor: pointer;
  }

  a.restaurantLink {
    color:#414141;
  }

  #popTitle {
    color: #000000;
  }

  img.popoverImg {
    margin-top: 1.25rem;
    width: 1.75rem;
  }

  .light {
    border: 1px solid #000000;
  }

  .dark {
    border: 1px solid #ffffff;
  }

  .my-masonry-image-list {
    @include mdc-image-list-masonry-columns(5);
  }

  @media (max-width: 650px) {
    .my-masonry-image-list {
      @include mdc-image-list-masonry-columns(3);
    }
  }

}
