<div class="grid-container">

  <ul *ngIf="postService.postSource.value.length; else noPosts"
    class="mdc-image-list mdc-image-list--masonry my-masonry-image-list">
    <li class="mdc-image-list__item" *ngFor="let item of postService.postSource | async" placement="bottom"
      [ngbPopover]="popContent" [openDelay]="650" [closeDelay]="1500" triggers="mouseenter:mouseleave">
      <ng-template #popContent><b>{{item.title}}</b><br />
        Rating: <b>{{item.rating}}</b><br />
        From: <a *ngIf="item.restaurantName" [routerLink]="['/restaurant', item.restaurantId]"><b>{{item.restaurantName}}</b></a><br />
        Posted By: <span *ngIf="item.User">{{item.User.name}}</span></ng-template>
      <img class="mdc-image-list__image" src="{{item.image}}" />
      <!-- <div class="mdc-image-list__supporting">
            <span class="mdc-image-list__label">{{item.label}}</span>
          </div> -->
    </li>
  </ul>

  <ng-template #noPosts>
    <div>
      <h4 class="noPosts">No Posts Yet</h4>
    </div>
  </ng-template>

</div>