@import "@material/image-list/mdc-image-list";

.grid-container {
  margin: 20px;
  // height: 100vh;

  img.postImage {
    cursor: pointer;
    opacity: 0;
    transform: translateY(30px);
  }

  a.restaurantLink {
    color:#414141;
  }

  #popTitle {
    color: #000000;
  }

  img.popoverImg {
    margin-top: 1.25rem;
    width: 1.75rem;
  }

  .light {
    border: 1px solid #000000;
  }

  .dark {
    border: 1px solid #ffffff;
  }

  img.postImage.fade {
    transition: 1s linear all;
    -webkit-transition: 1s linear all;
  }
  
  img.postImage.fade.ng-enter {
    opacity: 1;
  }
  
  img.postImage.fade.ng-enter.ng-enter-active {
    opacity: 1;
  }
  
  // .fade.ng-leave {
  //   opacity: 1;
  // }
  
  // .fade.ng-leave.ng-leave-active {
  //   opacity: 0;
  // }

  .my-masonry-image-list {
    @include mdc-image-list-masonry-columns(5);
  }

  @media (max-width: 650px) {
    .my-masonry-image-list {
      @include mdc-image-list-masonry-columns(3);
    }
  }

}
