<div class="restaurantPage" *ngIf="this.currentRestaurant.name">

  <h1 class="restaurantName mb-3">{{this.currentRestaurant.name | uppercase}}</h1>


  <div class="container">
    <mat-divider></mat-divider>

    <div class="row mt-3">

      <div class="col col-sm-12 col-md-6">
        <a [ngClass]="{'dark': isDarkTheme | async}" target="_blank"
          href="{{this.currentRestaurant.mapUrl}}">{{this.currentRestaurant.address}}</a>
        <p>{{this.currentRestaurant.phoneNumber}}</p>
        <a [ngClass]="{'dark': isDarkTheme | async}" *ngIf="this.currentRestaurant.websiteUrl !== 'N/A'" target="_blank"
          href="{{this.currentRestaurant.websiteUrl}}">View Website</a>
      </div>

      <div class="col col-sm-12 col-md-6">
        <p>Price Level: {{this.currentRestaurant.priceLevel===0 ? "N/A" : this.currentRestaurant.priceLevel}}</p>

        <div *ngIf="this.currentRestaurant.openNow; else closedNow">
          <p class="open">Open Now</p>
        </div>

        <ng-template #closedNow>
          <p class="closed">Closed Now</p>
        </ng-template>

        <button type="button" mat-button (click)="hoursCollapsed = !hoursCollapsed">Hours
          <mat-icon *ngIf="hoursCollapsed">arrow_drop_down</mat-icon>
          <mat-icon *ngIf="!hoursCollapsed">arrow_drop_up</mat-icon>
        </button>
      </div>
      <div class="col col-sm-12">
        <div [ngbCollapse]="hoursCollapsed">
          <div class="card">
            <div [ngClass]="{'dark': isDarkTheme | async}" class="card-body">
              <p *ngFor="let hours of this.currentRestaurant.openingHour">{{hours}}</p>
            </div>
          </div>
        </div>

      </div>

    </div>


    <mat-divider></mat-divider>

    <app-photo-container *ngIf="posts.length; else noPosts" [posts]="posts"></app-photo-container>

    <ng-template #noPosts>
      <div>
        <h4 class="noPosts">No Posts Yet</h4>
      </div>
    </ng-template>

  </div>

</div>