h1.restaurantName {
  margin-top: 3rem;
}

h4 {
  margin-top: 4rem;
}

a {
  text-decoration: none;
  color: #303030;
}

a.dark {
  color: #ffffff;
}

p.open {
  color: #51923e
}

p.closed {
  color: #a82b2b
}

div.card {

  .card-body {
    background-color: #ffffff;
    color: #303030;
  }

  .card-body.dark{
    background-color: #303030;
    color: #ffffff;
  }

}