<div class="grid-container">

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Search meal, cuisine, or restaurant...</mat-label>
      <input color="accent" (keyup.enter)="onSearch(search.value)" type="text" #search matInput
        placeholder="Search meal, cuisine, or restaurant">
    </mat-form-field>
    <button mat-button (click)="onSearch(search.value)"><i class="material-icons mr-2">search</i></button>
    <button mat-button (click)="filtersCollapsed = !filtersCollapsed" matTooltip="Filter" matTooltipPosition="right"
      aria-label="Filter Posts Icon" [matTooltipShowDelay]="750"><i class="material-icons mr-2">filter_list</i></button>
  </p>
  <div @fadeInCollapse *ngIf="!filtersCollapsed">
    <div class="card">
      <div [ngClass]="{'dark': isDarkTheme | async}" class="card-body">
        <h5>Sort By</h5>
        <mat-checkbox class="mr-3" [(ngModel)]="sortGF" (change)="filterPosts($event)" value="gf" matInput>GF
        </mat-checkbox>
        <mat-checkbox class="mr-3" [(ngModel)]="sortVegan" (change)="filterPosts($event)" value="vegan" matInput>Vegan
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="sortVegetarian" (change)="filterPosts($event)" value="vegetarian" matInput>Vegetarian
        </mat-checkbox>
      </div>
    </div>
  </div>

  <app-photo-container *ngIf="posts.length; else noPosts" [posts]="posts"></app-photo-container>

  <ng-template #noPosts>

    <mat-spinner *ngIf="loadingPosts; else doneLoading"></mat-spinner>
    <ng-template #doneLoading>
      <h4 class="noPosts">No Posts Yet</h4>
    </ng-template>
  </ng-template>

</div>