<div class="mat-app-background basic-container">

  <div class="grid-container">

    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar class="fancyFont">Menu
        </mat-toolbar>
        <mat-nav-list>
          <a mat-list-item routerLink="/browse">
            <!-- <mat-icon>dashboard</mat-icon> -->
            <i class="material-icons mr-2">search</i>
            Browse</a>
          <a mat-list-item routerLink="/add-post">
            <!-- <mat-icon>add_a_photo</mat-icon> -->
            <i class="material-icons mr-2">add_a_photo</i>
            Add Post</a>
          <!-- <a mat-list-item routerLink="/add-photo">Settings</a> -->
          <a mat-list-item routerLink="/profile" *ngIf="auth.loggedIn"><i class="material-icons mr-2">account_circle</i>Profile</a>

          <a mat-list-item routerLink="/login" (click)="auth.login()" *ngIf="!auth.loggedIn">Login</a>
          <!-- <a mat-list-item routerLink="/login" (click)="auth.logout()" *ngIf="auth.loggedIn">Logout</a> -->
        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-toolbar class="fancyFont">
          Restaurants
          <mat-icon>restaurant</mat-icon>
        </mat-toolbar>
        <app-list></app-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <mat-toolbar color="primary">
          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
            *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span class="siteTitle">Foodsta</span>
            <!-- <div id="searchBar" class="form-group">
              <input type="text" #search matInput placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default"><i class="material-icons mr-2">search</i></button> -->
        </mat-toolbar>
        
        <router-outlet></router-outlet>
        <ngx-bottom-nav *ngIf="isHandset$ | async" class="bottom-nav" [items]="items"></ngx-bottom-nav>
      </mat-sidenav-content>
    </mat-sidenav-container>

  </div>

</div>