<div class="mat-app-background basic-container">

  <div class="grid-container">
    <!-- <mat-grid-list cols="8" rowHeight="2:1"> -->

    <h1>{{title}}</h1>
    <nav>
      <a routerLink="/" mat-stroked-button color="primary">Home</a>&nbsp;
      <a routerLink="browse" mat-stroked-button color="primary">Browse</a>&nbsp;
      <a routerLink="profile" *ngIf="auth.loggedIn" mat-stroked-button color="primary">Profile</a>

      <a mat-stroked-button color="primary" routerLink="/login" (click)="auth.login()" *ngIf="!auth.loggedIn">Login</a>
      <a mat-stroked-button color="primary" routerLink="/register" (click)="auth.logout()"
        *ngIf="auth.loggedIn">Logout</a>
    </nav>
    <mat-sidenav-container>

      <mat-sidenav mode="side" opened>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>

      </mat-sidenav-content>


    </mat-sidenav-container>
    <!-- <mat-grid-list></mat-grid-list> -->
  </div>

</div>