.basic-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
    text-align: center;

}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  z-index: 5;
  padding: 10px 0px;
  background-color: #000000;
}

.search-bar {
  justify-content: right;
}


nav {
    margin: 20px 0;

    a {
      margin: 30px 5px;
      padding: 10px;
      text-decoration: none;
    }
  }


.fancyFont {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.75rem;
}

input#searchBar {
  margin-left: 50%;
}

