<div [ngClass]="{'dark-theme': isDarkTheme | async}">

  <div class="mat-app-background basic-container">

    <div class="grid-container">

      <mat-sidenav-container class="sidenav-container">

        <mat-sidenav #drawer class="sidenav" fixedInViewport
          [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
          [opened]="(isHandset$ | async) === false">

          <mat-toolbar class="fancyFont">Menu </mat-toolbar>

          <mat-nav-list>
            <a mat-list-item routerLink="/home" [routerLinkActive]="['is-active']">
              <mat-icon class="mr-2">home</mat-icon>
              Home
            </a>

            <a mat-list-item routerLink="/add-post" [routerLinkActive]="['is-active']">
              <mat-icon class="mr-2">add_a_photo</mat-icon>
              Add Post
            </a>

            <a mat-list-item routerLink="/profile" *ngIf="auth.loggedIn" [routerLinkActive]="['is-active']">
              <mat-icon class="mr-2">account_circle</mat-icon>
              Profile
            </a>

            <mat-list-item id="login" color="accent" (click)="auth.login()" *ngIf="!auth.loggedIn">
              <mat-icon class="mr-2">vpn_key</mat-icon>Login
            </mat-list-item>
          </mat-nav-list>

          <mat-divider></mat-divider>

          <mat-toolbar class="fancyFont">
            Restaurants
            <mat-icon class="ml-2">restaurant</mat-icon>
          </mat-toolbar>

          <app-list></app-list>

        </mat-sidenav>

        <mat-sidenav-content>

          <app-toolbar [sideNav]="drawer"></app-toolbar>

          <div *ngIf="isHandset$ | async; else desktopRouter" [@routeAnimations]="o && o.activatedRouteData 
          && o.activatedRouteData['animation']">
            <router-outlet #o="outlet"></router-outlet>
          </div>
          <ng-template #desktopRouter>
            <div [@routeDesktopAnimations]="o && o.activatedRouteData 
          && o.activatedRouteData['animation']">
              <router-outlet #o="outlet"></router-outlet>
            </div>
          </ng-template>

          <ngx-bottom-nav *ngIf="isHandset$ | async" class="bottom-nav" [items]="items" color="primary">
          </ngx-bottom-nav>

        </mat-sidenav-content>

      </mat-sidenav-container>

    </div>

  </div>
</div>