<h1 mat-dialog-title class="text-center">Update Your Post</h1>

<div mat-dialog-content class="text-center">

  <img src="{{ post.image }}" style="width:250px;" class="mb-4" />

  <br />

  <ngb-rating class="mb-5" [(ngModel)]="post.rating" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly">
  </ngb-rating>

  <br />

  <mat-form-field class="mb-3">
    <input class="disabledInput" matInput [(ngModel)]="post.restaurantName" placeholder="Restaurant" disabled>
  </mat-form-field>

  <br />

  <mat-form-field class="mb-3">
    <input class="disabledInput" matInput [(ngModel)]="post.cuisine" placeholder="Cuisine" disabled>
  </mat-form-field>

  <br />

  <mat-form-field class="mb-3">
    <input matInput [(ngModel)]="post.title" placeholder="Edit meal title">
  </mat-form-field>

  <br />

  <mat-form-field class="mb-4">
    <input matInput [(ngModel)]="post.caption" placeholder="Edit comment">
  </mat-form-field>

  <h4>Dietary Info</h4>
  <div class="mt-4 mb-3">
    <mat-checkbox class="mr-3" matInput [(ngModel)]="post.gf">GF</mat-checkbox>
    <mat-checkbox class="mr-3" matInput [(ngModel)]="post.vegan">Vegan</mat-checkbox>
    <mat-checkbox matInput [(ngModel)]="post.vegetarian">Vegetarian</mat-checkbox>
  </div>

  <div class="modalAction mt-5">
    <button class="deleteBtn" mat-button (click)="deletePost(post.id)">Delete Post</button>
  </div>

</div>

<div class="modalAction" mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial (click)="editPost(post)">Update</button>
  <!-- <button class="deleteBtn" mat-button>Delete</button> -->
</div>