<mat-grid-list cols="2" rowHeight="2:1">

  <div class="loginDiv">

    <h2 class="login-header">Login</h2>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter Email">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter Password">
      </mat-form-field>
    </p>


    <button mat-stroked-button color="primary" id="login" type="button">Sign In</button>

  </div>

</mat-grid-list>