<div class="grid-container">
  <mat-grid-list cols="8" rowHeight="2:1">

    <button cols="4" mat-stroked-button color="primary" id="login" type="button" (click)="auth.login()"
      *ngIf="!auth.loggedIn">Sign In</button>
    <button cols="2" mat-stroked-button color="primary" id="login" type="button" (click)="auth.logout()"
      *ngIf="auth.loggedIn">Sign Out</button>

  </mat-grid-list>
</div>

<!-- <header> -->
<!--       
        <a routerLink="/" >Home</a>&nbsp;
        <a routerLink="profile" *ngIf="auth.loggedIn">Profile</a> -->

<!-- </header> -->

<!-- <h2 class="login-header">Login</h2> -->
<!-- 
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter Email">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter Password">
      </mat-form-field>
    </p> -->