<div class="add-post-container">

  <mat-vertical-stepper linear>

    <mat-step label="Add Photo">

      <div>

        <h3 class="mb-4 mt-2">Add Your Pic</h3>

        <!-- <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput [(ngModel)]="post.image"> -->

        <input style="display: none" (change)="onImagePicked($event)" #fileInput type="file" accept='image/*' />

        <button *ngIf="!imageObj; else imagePicked" mat-button (click)="fileInput.click()">Choose Picture</button>
        <ng-template #imagePicked><button mat-button (click)="fileInput.click()">Change Picture</button></ng-template>

        <div *ngIf="imageObj">
          <br />
          <img [ngClass]="{'dark': isDarkTheme | async}" class="imagePreview" width="200px" src="{{imgURL}}" />
        </div>

        <div *ngIf="imageObj">
          <button mat-button matStepperNext type="button">Next</button>
        </div>

      </div>

    </mat-step>

    <mat-step label="Details">

      <div>

        <h3 class="mb-4 mt-2">Tell Us About Your Meal</h3>

        <div>
          <div class="row">

            <mat-form-field class="col col-sm-12 col-md-6 offset-md-3 mr-5 mb-3 mt-2">
              <input [(ngModel)]="post.title" matInput required placeholder="Name of Meal">
            </mat-form-field>

          </div>

          <div class="row">

            <mat-form-field class="col col-sm-12 col-md-6 offset-md-3">
              <input [(ngModel)]="restaurantName$" #location (input)="search(location.value)" matInput required
                placeholder="Restaurant" [matAutocomplete]="auto">
            </mat-form-field>

            <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getInfo($event.option.value)'
              [displayWith]="getRestaurantName">
              <mat-option *ngFor="let restaurant of restaurants$ | async" id="{{restaurant.place_id}}"
                [value]="restaurant">
                {{restaurant.description}}</mat-option>
            </mat-autocomplete>

          </div>


          <br>

          <!-- <h4>Cuisine</h4> -->
          <mat-form-field class="full-width mr-5 mb-3">
            <!-- <mat-label>Type</mat-label>
          <mat-select [(ngModel)]="post.cuisine" matInput required>
              <mat-option>None</mat-option>
              <mat-option *ngFor="let category of categories" [value]="category.value">
                {{category.viewValue}}
              </mat-option>
          </mat-select> -->
            <input [(ngModel)]="post.cuisine" matInput required placeholder="Cuisine">
          </mat-form-field>

          <h4>Dietary Info</h4>
          <div class="mt-4 mb-3">
            <mat-checkbox class="mr-3" matInput [(ngModel)]="post.gf">GF</mat-checkbox>
            <mat-checkbox class="mr-3" matInput [(ngModel)]="post.vegan">Vegan</mat-checkbox>
            <mat-checkbox matInput [(ngModel)]="post.vegetarian">Vegetarian</mat-checkbox>
          </div>
        </div>

        <button mat-button matStepperPrevious type="button">Back</button>
        <button *ngIf="post.title && post.restaurantName && post.cuisine" mat-button matStepperNext
          type="button">Next</button>

      </div>

    </mat-step>

    <mat-step label="Rating">

      <div>

        <h3>How Was It?</h3>

        <div class="mt-4">
          <ngb-rating required [(ngModel)]="post.rating" [readonly]="readonly">
          </ngb-rating>
        </div>

        <div class="col col-sm-12 col-md-8 offset-md-2 mt-4">
          <mat-form-field>
            <textarea class="col col-sm-12 " [(ngModel)]="post.caption" matInput placeholder="Comments"
              cdkTextareaAutosize cdkAutosizeMinRows="1"></textarea>
          </mat-form-field>
        </div>

        <div>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button *ngIf="post.rating" mat-button matStepperNext type="button">Next</button>
        </div>

      </div>

    </mat-step>

    <mat-step label="Review">

      <h2>Post Review</h2>
      <br />

      <div *ngIf="imageObj" [ngClass]="{'dark': isDarkTheme | async}" class="postReview light">

        <img class="postReviewItem" *ngIf="imageObj" width="200px" src="{{imgURL}}" /> <br />
        <h4 *ngIf="post.title" class="postReviewMeal postReviewItem"> {{ post.title }} </h4>
        <ngb-rating *ngIf="post.rating" class="mb-5" [(rate)]="post.rating" [readonly]="readonlyReview"></ngb-rating>
        <p *ngIf="post.caption" class="postReviewItem"> <span class="postReviewTitle">Comments - </span>
          {{ post.caption }} </p>
        <p *ngIf="post.restaurantName" class="postReviewItem"> <span class="postReviewTitle">Restaurant - </span>
          {{ post.restaurantName }} </p>
        <p *ngIf="post.cuisine" class="postReviewItem"> <span class="postReviewTitle">Cuisine - </span>
          {{ post.cuisine }} </p>
        <img class="dietInfo" *ngIf="post.gf" src="../../../assets/images/gluten-free.png">
        <img class="dietInfo" *ngIf="post.vegan" src="../../../assets/images/vegan.png">
        <img class="dietInfo" *ngIf="post.vegetarian" src="../../../assets/images/vegetarian.png">

      </div>
      <!-- <pre *ngIf="auth.userProfile$ | async as profile">
        <p> {{ profile.sub }} </p>
    </pre> -->

      <div class="submitButtons">

        <ng-template #infoMissing>
          <p class="missingInfo">Oops. It looks like some required info is still missing. Please make sure you have an
            image, title, restaurant, cuisine type, and rating for your post</p>
        </ng-template>

        <button mat-button matStepperPrevious type="button">Back</button>
        <button *ngIf="imageObj && post.title && post.rating && post.restaurantName && post.cuisine; else infoMissing"
          mat-button (click)="onImageUpload()">Looks Good!</button>
      </div>

    </mat-step>

  </mat-vertical-stepper>

</div>