<div class="add-post-container">

  <mat-vertical-stepper linear>

    <mat-step label="Add Photo">

      <div>

        <!-- <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput [(ngModel)]="post.image"> -->

        <input style="display: none" (change)="onImagePicked($event)" #fileInput type="file" accept='image/*' />
        <button mat-button (click)="fileInput.click()">Select File</button>

        <div *ngIf="imageObj">
          <br />
          <img width="200px" src="{{imgURL}}" />
        </div>

        <div>
          <button mat-button matStepperNext type="button">Next</button>
        </div>

      </div>

    </mat-step>

    <mat-step label="Details">

      <div>

        <div>
          <div class="row">

            <mat-form-field class="col col-sm-12 col-md-6 offset-md-3 mr-5 mb-3">
              <input [(ngModel)]="post.title" matInput required placeholder="Name of Meal">
            </mat-form-field>

          </div>

          <div class="row">

            <mat-form-field class="col col-sm-12 col-md-6 offset-md-3">
              <input [(ngModel)]="restaurantName$" #location (input)="search(location.value)" matInput required
                placeholder="Restaurant" [matAutocomplete]="auto">
            </mat-form-field>

            <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getInfo($event.option.value)'
              [displayWith]="getRestaurantName">
              <mat-option *ngFor="let restaurant of restaurants$ | async" id="{{restaurant.place_id}}"
                [value]="restaurant">
                {{restaurant.description}}</mat-option>
            </mat-autocomplete>

          </div>


          <br>

          <!-- <h4>Cuisine</h4> -->
          <mat-form-field class="full-width mr-5 mb-3">
            <!-- <mat-label>Type</mat-label>
          <mat-select [(ngModel)]="post.cuisine" matInput required>
              <mat-option>None</mat-option>
              <mat-option *ngFor="let category of categories" [value]="category.value">
                {{category.viewValue}}
              </mat-option>
          </mat-select> -->
            <input [(ngModel)]="post.cuisine" matInput required placeholder="Cuisine">
          </mat-form-field>

          <h4>Dietary Info</h4>
          <div class="mt-4 mb-3">
            <mat-checkbox class="mr-3" matInput [(ngModel)]="post.gf">GF</mat-checkbox>
            <mat-checkbox class="mr-3" matInput [(ngModel)]="post.vegan">Vegan</mat-checkbox>
            <mat-checkbox matInput [(ngModel)]="post.vegetarian">Vegetarian</mat-checkbox>
          </div>
        </div>

        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button matStepperNext type="button">Next</button>

      </div>

    </mat-step>

    <mat-step label="Rating">

      <div>

        <mat-label>How was your meal?</mat-label>

        <div class="mt-4">
          <ngb-rating [(ngModel)]="post.rating" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly">
          </ngb-rating>
        </div>

        <div class="col col-sm-12 col-md-8 offset-md-2 mt-2">
          <mat-form-field>
            <textarea class="col col-sm-12 " [(ngModel)]="post.caption" matInput placeholder="Comments"
              cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
          </mat-form-field>
        </div>

        <div>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>

      </div>

    </mat-step>

    <mat-step label="Review">

      <h2>Post Review</h2>
      <br />

      <div class="postReview">

        <img class="postReviewItem" *ngIf="imageObj" width="200px" src="{{imgURL}}" />
        <h4 class="postReviewMeal"> {{ post.title }} </h4>
        <ngb-rating class="mb-5" [(rate)]="post.rating" [readonly]="readonlyReview"></ngb-rating>
        <p class="postReviewItem"> <span class="postReviewTitle">Comments - </span> {{ post.caption }} </p>
        <p class="postReviewItem"> <span class="postReviewTitle">Restaurant - </span> {{ post.restaurantName }} </p>
        <p class="postReviewItem"> <span class="postReviewTitle">Cuisine - </span> {{ post.cuisine }} </p>
        <img class="col col-sm-1" *ngIf="post.gf" src="../../../assets/images/gluten-free.png">
        <img class="col col-sm-1" *ngIf="post.vegan" src="../../../assets/images/vegan.png">
        <img class="col col-sm-1" *ngIf="post.vegetarian" src="../../../assets/images/vegetarian.png">

      </div>
      <!-- <pre *ngIf="auth.userProfile$ | async as profile">
        <p> {{ profile.sub }} </p>
    </pre> -->

      <div class="submitButtons">
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button (click)="onImageUpload()">Upload!</button>
        <!-- test button below -->
        <!-- <button mat-button (click)="savePhoto()">Submit Post Data!</button> -->
      </div>

    </mat-step>

  </mat-vertical-stepper>

</div>