<mat-vertical-stepper linear>

  <mat-step label="Add Photo">

    <div>

      <!-- <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput [(ngModel)]="post.image"> -->

      <input style="display: none" (change)="onImagePicked($event)" #fileInput type="file" accept='image/*' />
      <button mat-button (click)="fileInput.click()">Select File</button>
   
       <div *ngIf="imageObj">
        <br />
        <img width="200px" src="{{imgURL}}"/>
       </div>
      
      <div>
        <button mat-button matStepperNext type="button">Next</button>
      </div>

    </div>

  </mat-step>

  <mat-step label="Details">

    <div>

      <div>
        <mat-form-field class="full-width mr-5 mb-3">
          <input [(ngModel)]="post.title" matInput required placeholder="Name of Meal">
        </mat-form-field>
        
        <mat-form-field class="full-width">
          <input [(ngModel)]="post.restaurant" matInput required placeholder="Location">
        </mat-form-field>
        
        <br>

        <!-- <h4>Cuisine</h4> -->
        <mat-form-field class="full-width mr-5 mb-3">
          <!-- <mat-label>Type</mat-label>
          <mat-select [(ngModel)]="post.cuisine" matInput required>
              <mat-option>None</mat-option>
              <mat-option *ngFor="let category of categories" [value]="category.value">
                {{category.viewValue}}
              </mat-option>
          </mat-select> -->
          <input [(ngModel)]="post.cuisine" matInput required placeholder="Cuisine">
        </mat-form-field>
  
        <!-- <h4>Category</h4> -->
        <mat-form-field>
          <!-- <mat-label>Food</mat-label>
          <mat-select [(ngModel)]="post.category" matInput required>
            <mat-option>None</mat-option>
            <mat-option required *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select> -->
          <input [(ngModel)]="post.category" matInput required placeholder="Category">
        </mat-form-field>

        <h4>Preferences</h4>
        <div class="mt-4 mb-3">
          <mat-checkbox class="mr-3" matInput [(ngModel)]="post.gf" >GF</mat-checkbox>
          <mat-checkbox class="mr-3" matInput [(ngModel)]="post.vegan" >Vegan</mat-checkbox>
          <mat-checkbox matInput [(ngModel)]="post.vegetarian" >Vegetarian</mat-checkbox>
        </div>
      </div>
  
      <button mat-button matStepperPrevious type="button">Back</button>
      <button mat-button matStepperNext type="button">Next</button>

    </div>

  </mat-step>

  <mat-step label="Rating">
    
    <div>

      <mat-label>How was your meal?</mat-label>
      <!-- <mat-slider [(ngModel)]="post.rating" class="rating" color="primary" thumbLabel tickInterval="1" step="0.5" max="5"></mat-slider> -->
      <!-- left in slider & star rating for your preference -->
      <!-- <app-rating></app-rating> -->
      <div class="mt-4">
        <ngb-rating [(ngModel)]="post.rating" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly"></ngb-rating>
      </div>

      <div class="mt-2">
        <mat-form-field>
          <textarea [(ngModel)]="post.caption" matInput placeholder="Comments" cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
        </mat-form-field>
      </div>

      <div>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button matStepperNext type="button">Next</button>
      </div>

    </div>

  </mat-step>

  <mat-step label="Review">

    <h2>Post Review</h2>
    <!-- <h4> Photo : </h4> -->
    <br />
    <img *ngIf="imageObj" width="200px" src="{{imgURL}}"/>
    <p> Name of Meal : {{ post.title }} </p>
    <p> Type of Meal : {{ post.cuisine }} </p>
    <p> Category : {{ post.category }} </p>
    <p> Rating : {{ post.rating }} </p>
    <p> Location : {{ post.restaurant }} </p>

      <div>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button (click)="onImageUpload()">Upload!</button>
        <!-- test button below -->
        <button mat-button (click)="savePhoto()">Submit Post Data!</button>
      </div>

  </mat-step>

</mat-vertical-stepper>