span.siteTitle {
  font-family: 'Shadows Into Light', cursive;
  font-size: 3rem;
}

mat-toolbar-row {
  justify-content: space-between;
}

mat-slide-toggle {
  font-size: .875rem;
  margin-left: 20px;
}

.mat-icon {
  margin-top: 7px;

}

.dark {
  color: #303030
}