<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sideNav.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span class="siteTitle">Foodsta</span>

    <div [ngClass]="{'dark': isDarkTheme | async}">

      <!-- <mat-slide-toggle class="mr-2" [checked]="isDarkTheme | async" labelPosition="before"
        (change)="toggleDarkTheme($event.checked)">
      </mat-slide-toggle> -->
      <mat-icon class="toolbar-icon mr-3" (click)="toggleDarkTheme()" matTooltip="Toggle Dark Mode"
        aria-label="Toggle dark mode icon" [matTooltipShowDelay]="750">brightness_6</mat-icon>

      <mat-icon (click)="auth.logout()" *ngIf="auth.loggedIn" class="toolbar-icon" matTooltip="Logout"
        aria-label="Logout icon" [matTooltipShowDelay]="750">
        meeting_room</mat-icon>
      <mat-icon (click)="auth.login()" *ngIf="!auth.loggedIn" class="toolbar-icon" matTooltip="Login"
        aria-label="Login icon" [matTooltipShowDelay]="750">
        vpn_key</mat-icon>

    </div>

  </mat-toolbar-row>

</mat-toolbar>