<h2 class="register-header">Register</h2>

<div class="col s12 input-field">
  <label for="email">Email address:</label>
  <input type="email" id="email">
</div>

<div class="col s12 input-field">
  <label for="name">Name:</label>
  <input type="text" id="name">
</div>

<div class="col s12 input-field">
  <label for="passwordOne">Password:</label>
  <input type="password" id="passwordOne">
</div>

<div class="col s12 input-field">
  <label for="passwordTwo">Re-Enter Password:</label>
  <input type="password" id="passwordTwo">
</div>

<div class="col s12 m6 offset-m3">
  <button id="user-submit" type="button" class="btn">Sign Up</button>
</div>